#sitemapContainer {
    clear:both;
    margin-top:20px;
}

#sitemapContainer #left-panel {
    float: left;
    margin: 20px 10px 0px 0px;
    width: 616px;
}

#sitemapContainer #right-panel {
    float: left;
    margin: 20px 0px 0px 0px;
    width: 302px;
}

#sitemapContainer .gradient {
    background-color: #FBFBFB;
    background-image: -moz-linear-gradient(center top , #FFFFFF, #F5F5F5);
    background-repeat: repeat-x;
}

#sitemapContainer .corners {
    border: 1px solid #DDDDDD;
    border-radius: 16px 16px 16px 16px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

#sitemapContainer .blue-letters-large {
    background: -moz-linear-gradient(center bottom , #0088CC 0%, #189CDE 100%) repeat scroll 0 0 transparent;
    border-bottom: 1px solid #CCCCCC;
    border-radius: 16px 16px 0 0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.04);
    color: #FFFFFF;
    font-weight: bold;
    height: 25px;
    line-height: 20px;
    margin: 0;
    text-shadow: 0 1px 0 #333333;
}

#sitemapContainer .nav-list {
    margin-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
}

#sitemapContainer .nav {
    list-style: none outside none;
}

#sitemapContainer .label-important {
    background-color: #FF0000;
    float:right;
}

#sitemapContainer .label-warning, #sitemapContainer .badge-warning {
    background-color: #FFBF00;
}

#sitemapContainer .label-success, #sitemapContainer .badge-success {
    background-color: #23A274;
}

#sitemapContainer .label {
    border-radius: 3px 3px 3px 3px;
    padding: 1px 4px 2px;
}

#sitemapContainer .label, #sitemapContainer .badge {
/*    background-color: #999999; */
    color: #FFFFFF;
    font-size: 10.998px;
    font-weight: bold;
    line-height: 14px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    vertical-align: baseline;
    white-space: nowrap;
}

#sitemapContainer .nav > li > a:hover {
  text-decoration: none;
  background-color: #eeeeee;
}

#sitemapContainer .nav > li > a {
    display: block;
    padding: 3px 15px;
    width: 255px;
}

#sitemapContainer .nav .nav-header {
  padding: 3px 15px;
  font-size: 11px;
  font-weight: bold;
  line-height: 18px;
  color: #999999;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}

#sitemapContainer .nav-list > li > a, #sitemapContainer .nav-list .nav-header {
    margin-left: -15px;
    margin-right: -15px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

#sitemapContainer .overflow {
    height: 510px;
    overflow-y: scroll;
}

#astrTable td {
    background-color:white;
    border:2px solid black;
    margin:5px;
    padding:5px 10px;
}

#astrTable {
    border-collapse:collapse;
    margin: 15px;
    width: auto;
    color:#000;
    font-size:11px;
}

#astrTable .astrTableEmptyTd {
    width:5px;
    padding:0;
    border-top:none;
    border-bottom:none;
}

.astrTableFirstTd, .astrTableLastTd {
    font-size:28px;
}

#astrTable .astrTableLastTd {
    padding-left:20px;
    padding-right:20px;
}

#astrLeftDiv {
    height:543px;
}