 <script type="text/javascript">   
     
 $(document).ready(function() {
 
    
   }); 
   
  </script>  
    
    <div id="AccessoriesFormPanel" class="SystemAdminFormPanel" >
    
                <form id="AccessoriesForm" name="AccessoriesForm" method="post"  action="{$_subdomain}/LookupTables/saveColour" class="inline" >
       
                    <input type="hidden" name="mode" value="{$mode}">
                    <input type="hidden" name="ServiceProviderID" value="{if isset($ServiceProviderID)}{$ServiceProviderID}{/if}">
                    
                <fieldset>
                    <legend title="" >Colour</legend>
                        
                    <p><label id="suggestText" ></label></p>
                            <p>
                            <label ></label>
                            <span class="topText" >{$page['Text']['top_info_text1']|escape:'html'} <span>*</span> {$page['Text']['top_info_text2']|escape:'html'}</span>

                            </p>
                       
        
                       
                         
                         
                         <p>
                            <label class="cardLabel" for="ColourName" >Colour Name:<sup>*</sup></label>
                           
                             &nbsp;&nbsp; <input  type="text" class="text"  name="ColourName" value="{$datarow.ColourName|escape:'html'}" id="ColourName" >
                        
                         </p>
                         
                         
                         {if $datarow.ColourID neq '' && $datarow.ColourID neq '0'}
                             
                          <p>
                            <label class="cardLabel" for="Status" >{$page['Labels']['status']|escape:'html'}:<sup>*</sup></label>
                           
                             &nbsp;&nbsp; 
                        
                                {foreach $statuses as $status}

                                    <input  type="radio" name="Status"  value="{$status.Code}" {if $datarow.Status eq $status.Code} checked="checked" {/if}  /> <span class="text" >{$status.Name|escape:'html'}</span> 

                                {/foreach}    

                          </p>
                          
                         {/if}
                              {if isset($datarow.ApproveStatus)&&$SuperAdmin eq true&&$datarow.ApproveStatus!="Approved"}
                         <p>
                                <label class="cardLabel" for="ApproveStatus" >Account Type:<sup>*</sup></label>

                                &nbsp;&nbsp; 

                                   

					<span class="formRadioCheckText"  class="saFormSpan">
					    <input  type="radio" name="ApproveStatus"  value="Approved"   /><label >Global</label>&nbsp;
					    <input  type="radio" name="ApproveStatus"  value="NotApproved"   /><label >{$ancronym} Specific</label>&nbsp;
					</span>

                                     
                            </p>
                            {/if}
                         <input type="hidden" name="ColourID" value="{if isset($datarow.ServiceProviderColourID)}{$datarow.ServiceProviderColourID}{elseif isset($datarow.ColourID)}{$datarow.ColourID}{/if}">
                     

                         <p>
                <hr>
                               
                                <div style="height:20px;margin-bottom: 10px">
                                <button type="submit" style="float: left" class="gplus-blue">Save</button>
                                <button type="button" onclick="$.colorbox.close();" style="float:right" class="gplus-blue">Cancel</button>
                                </div>
            </p>    

                           
                          
                         
                         


                </fieldset>    
                        
                </form>        
                        
       
</div>
                 
 
                          
                        
